body {
	font-family: serif;
}
.first {
  background: url('cert/todo.jpg') no-repeat;
  background-image-resolution: 300dpi;
  background-image-resize: 6;
  height: 100%;
  width: 100%;
}

.resto {
	padding: 20px;
}
