* { margin: 0; padding: 0; text-decoration: none; font-family: 'Lato', sans-serif; box-sizing: border-box; }
body, html { width: 100%; height: 100%; }
body {
  background-color: #e3e3e3;
  padding-top: 60px;
  position: relative;
  z-index: 0;
}
body.overlay:before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
/*loading*/
.loading {
  position: absolute;
  top: 45%; left: 45%;
  background-color: #fff;
  z-index: 1050;
  width: 220px; height: 220px;
  background-image: url('../../images/logo-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 10px;
}
.spinner{margin:180px auto 0;width:70px;text-align:center}.spinner>div{width:18px;height:18px;background-color:#F2CB3E;border-radius:100%;display:inline-block;-webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;animation:sk-bouncedelay 1.4s infinite ease-in-out both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes sk-bouncedelay{0%,100%,80%{-webkit-transform:scale(0)}40%{-webkit-transform:scale(1)}}@keyframes sk-bouncedelay{0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}
/*custom scroll*/
html:not(.osx) ::-webkit-scrollbar {
  width: 6px;
}
html:not(.osx) ::-webkit-scrollbar-track-piece {
  background-color: #eee;
  border-left: 1px solid #ddd;
}
html:not(.osx) ::-webkit-scrollbar-thumb:vertical {
  background-color: #bbb;
}
/*clear fixes*/
.container:before, .container:after,
.thumbs:before, .thumbs:after,
.thumbs-roll:before, .thumbs-roll:after {
  content: '';
  display: table;
}
.container:after,
.thumbs:after,
.thumbs-roll:after {
  clear: both;
}

/* --------------------
    container
  --------------------*/
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid rgba(59, 64, 69, 0.5);
  background-color: #fff;
}

/* --------------------
    sidebar
  --------------------*/
@media (min-width: 768px){
  .toggleNav {
    display: none;
  }
  .sidebar {
    float: left;
    width: 30%;
  }
  .sidebar-header {
    background-position: center;
  }
  .sidebar-nav {
    display: block;
    margin-top: 0 !important;
    height: 646px !important;
  }
}
.sidebar {
  position: relative;
}
.toggleNav {
  position: absolute;
  top: 10px; right: 10px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  text-align: center;
  background-color: #000;
  outline: 0;
  color: #01c498;
  cursor: pointer;
  transition: 100ms all;
}
.toggleNav i {
  font-size: 22px;
  transition: 500ms all;
}
.toggleNav:hover {
  background-color: #3b4045;
  color: #fff;
}
.toggleNav.active {
  background-color: #3b4045;
  width: 70px; height: 70px;
  top: 0; right: 0;
}
.sidebar-header {
  width: 100%;
  height: 70px;
  padding: 10px 0;
  background-image: url('../../images/logo-2.png');
  background-position: 15px;
  background-size: 187px 45px;
  background-repeat: no-repeat;
  background-color: #fff;
}
.sidebar-nav {
  background-color: #3b4045;
  height: 0;
  overflow: hidden;
}
.sidebar-nav.active {
  height: auto;
}
.sidebar-nav > a {
  display: block;
  padding: 10px 10px 10px 20px;
  color: #c9c9c9;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.sidebar-nav > a i {
  opacity: 0;
  margin-right: 30px;
  float: right;
  transition: 0.3s all;
  transform: translateX(-70px) rotate(-90deg);
}
.sidebar-nav > a:hover {
  color: #fff;
  background-color: #2c3137;
}
.sidebar-nav > a:hover i {
  opacity: 1;
  transform: translateX(0) rotate(0);
}
.sidebar-nav .sub {
  background-color: #4b5158;
  height: 0;
  overflow: hidden;
}
.sidebar-nav .sub.active {
  height: auto;
}
.sidebar-nav .sub > a {
  display: block;
  padding: 10px 10px 10px 20px;
  color: #c9c9c9;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  position: relative;
}
.sidebar-nav .sub > a:after {
  content: '\f054';
  font-family: 'FontAwesome';
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 50%; right: 50px;
  margin-top: -8px;
  opacity: 0;
  transition: 200ms all;
}
.sidebar-nav .sub > a:hover {
  background-color: #5e656e;
}
.sidebar-nav .sub > a:hover:after {
  right: 15px;
  opacity: 1;
}

/* --------------------
    content
  --------------------*/
@media (min-width: 768px){
  .content {
    float: left;
    width: 70%;
    height: 100%;
  }
  .content-header {
    height: 70px;
  }
  .content-entry {
    max-height: 646px;
    overflow-y: auto;
  }
}
.content-header {
  height: auto;
  padding: 10px 0;
  position: relative;
}
.content-header:after {
  content: '';
  position: absolute;
  bottom: -10px; left: 0; right: 0;
  width: 100%; height: 10px;
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff', GradientType=0 );
}
.content-header h1 {
  font-size: 20px;
  line-height: 48px;
  margin-left: 40px;
  text-transform: uppercase;
  color: #555;
}
.content-entry {
  padding: 20px;
}
/*thumbs*/
.content-entry .thumbs-roll {
  width: 100%;
  padding: 15px 85px 15px 15px;
  background-color: #8e8f91;
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: 4px;
}
.content-entry .thumbs-roll span {
  cursor: pointer;
  z-index: 1;
  padding: 0 5px;
  position: absolute;
  font-size: 34px;
  line-height: 110px;
  height: 100%;
  top: 0;
  color: #fff;
  background-color: #5e656e;
}
.content-entry .thumbs-roll span.prev {
  background: rgba(94,101,110,0);
  background: -moz-linear-gradient(left, rgba(94,101,110,0) 0%, rgba(94,101,110,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94,101,110,0)), color-stop(100%, rgba(94,101,110,1)));
  background: -webkit-linear-gradient(left, rgba(94,101,110,0) 0%, rgba(94,101,110,1) 100%);
  background: -o-linear-gradient(left, rgba(94,101,110,0) 0%, rgba(94,101,110,1) 100%);
  background: -ms-linear-gradient(left, rgba(94,101,110,0) 0%, rgba(94,101,110,1) 100%);
  background: linear-gradient(to right, rgba(94,101,110,0) 0%, rgba(94,101,110,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e656e', endColorstr='#5e656e', GradientType=1 );

  right: 0;
}
.content-entry .thumbs-roll span.next {
  background: rgba(94,101,110,1);
  background: -moz-linear-gradient(left, rgba(94,101,110,1) 0%, rgba(94,101,110,0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94,101,110,1)), color-stop(100%, rgba(94,101,110,0)));
  background: -webkit-linear-gradient(left, rgba(94,101,110,1) 0%, rgba(94,101,110,0) 100%);
  background: -o-linear-gradient(left, rgba(94,101,110,1) 0%, rgba(94,101,110,0) 100%);
  background: -ms-linear-gradient(left, rgba(94,101,110,1) 0%, rgba(94,101,110,0) 100%);
  background: linear-gradient(to right, rgba(94,101,110,1) 0%, rgba(94,101,110,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e656e', endColorstr='#5e656e', GradientType=1 );

  left: 0;
}
.content-entry .thumbs {
  width: auto;
  height: 80px;
  text-align: left;
  transform: matrix(1, 0, 0, 1, 0, 0); /* usado no scroll */
  overflow: hidden;
  padding-left: 24px;
  transition: 0.6s linear all;
  transform: matrix(1, 0, 0, 1, -10, 0)
}
.content-entry .thumbs a {
  display: inline-block;
  border: 4px solid #c9c9c9;
  margin: 0 2px;
  width: 80px;
  height: 80px;
  transition: 160ms all;
}
.content-entry .thumbs a:hover,
.content-entry .thumbs a.active {
  border-color: #b5e694;
}
.content-entry .thumbs img {
  width: 100%;
  height: 100%;
  transition: 200ms all;
}
.content-entry .foto {
  background-color: #b5e694;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  z-index: 0;
}
.content-entry .foto:before {
  content: 'Carregando';
  position: absolute;
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgba(255, 255, 255, .5);
  line-height: 40px;
  padding: 0 20px;
  left: 50%; top: 50%;
  margin-left: -70px;
  margin-top: -40px;
  z-index: -1;
  border-radius: 20px;
  animation: loadingImg 2s linear infinite;
}
@keyframes loadingImg {
  0% { background-color: rgba(255, 255, 255, .9); color: #000; }
  40% { background-color: rgba(0, 0, 0, .9); color: #fff; }
  100% { background-color: rgba(255, 255, 255, .9); color: #000; }
}
.content-entry .foto img {
  border-radius: 4px;
  width: 100%;
}
.content-entry .video {
  background-color: #b5e694;
  margin-top: 20px;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.content-entry .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*comentários*/
.comments {
  margin-top: 20px;
  padding-top: 20px;
  border: 1px solid #e8e8e8;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 20px;
}
.comments h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #555;
}
.comments p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #555;
}
